/* *********************************** */
/* *** Estilos SOLO para banner.html *** */
/* *********************************** */


.container{
    margin-left: 0px;
    margin-right: 0px;
}

#bannerAdolescentes{
    width: *;
    height: auto;
    margin: 0 auto;

}
